// *************************************************************************************************

#include "\masm64\include64\resource.h"

// *************************************************************************************************

1 24 "manifest.xml"    // manifest file

10 ICON "icon.ico"
20 RCDATA "toolbar.png"
30 BITMAP "gradient.bmp"

100	MENUEX
BEGIN
    POPUP "  &File", , , 0
    BEGIN
        MENUITEM "&New\tCtrl N",  101
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "&Open\tCtrl O", 102
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "&Save\tCtrl S", 103
        MENUITEM "Save &As\tCtrl A", 104
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "&Exit\tCtrl Q", 125
    END

    POPUP "&Edit", , , 0
    BEGIN
        MENUITEM "&Undo\tCtrl+Z", 200
        MENUITEM "&Redo\tCtrl+Y", 201
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "&Cut\tCtrl+X", 202
        MENUITEM "Copy\tCtrl+C", 203
        MENUITEM "&Paste\tCtrl+V", 204
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "Clear\tDel", 205
    END

    POPUP "&Search", , , 0
    BEGIN
        MENUITEM "&Find Text\tF2", 250
        MENUITEM "&Replace Text\tF3", 260
    END

    POPUP "&Help", , , 0
    BEGIN
        MENUITEM "&About\tF1", 300
    END
END

#include "dlgs.rc"

// *************************************************************************************************

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "The MASM32 SDK\000"
      VALUE "FileDescription",  "64 Bit MASM Text Editor\000"
      VALUE "FileVersion",      "1.0\000"
      VALUE "InternalName",     "editor\000"
      VALUE "OriginalFilename", "editor.exe\000"
      VALUE "LegalCopyright",   "\251 2016 The MASM32 SDK\000"
      VALUE "ProductName",      "editor\000"
      VALUE "ProductVersion",   "1.0\000"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 0x4B0
  END
END

// *************************************************************************************************

