#define IDD_DLG1 100
#define IDC_BTN1 101

10 ICON DISCARDABLE "icon.ico"

IDD_DLG1 DIALOGEX 10,10,186,86
CAPTION "IDD_DLG"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Close",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,122,58,48,12
END

